<div class="full-width-header header-style1 home1-modifiy">
    <header id="rs-header" class="rs-header">
        <div class="topbar-area dark-parimary-bg">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-md-7">
                        <ul class="topbar-contact">
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:principal@sanppgi.ac.in" style="font-size:12px !important;">
                                    principal@sanppgi.ac.in,</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i>
                                <a href="tel:02692-267404" style="font-size:12px !important;"> (02692) 267404</a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-end">
                        <ul class="topbar-right">
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-clock-o"></i>
                                <a href="">Last Updated:27-june-2022</a>
                            </li>
                            <li class="login-register" style="font-size:12px !important;">
                                <i class="fa fa-users"></i>
                                <a href="">Visitor:222500</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area menu-sticky">
            <div class="row middle">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="logo-cat-wrap">
                        <div class="logo-part">
                            <a href="index.html">
                                <img src="assets/images/logo/ANPatel.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-end m1" style="padding-right:30px;">

                    <ul class="topbar-right">
                        <li class="menu-item lm">
                            <div class="wrap">
                                <div class="search">
                                    <input type="text" class="searchTerm" placeholder="What are you looking for?"
                                        style="color: #203154;">
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item lm">
                            <a href="#">Centenary Celebration</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a href="#">News</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a href="#">Birthday</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a href="#">Free counseling</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- MOBILEMENU -->
        <nav class="navbar navbarn navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <!-- <span class="navbar-toggler-icon"> </span> -->
                <img class="navbar-toggler-icon" src="assets/images/shape/icon.png" alt="">
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
                <ul class="nav-menu" style="padding: 25px!important;">
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">CES Home</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">History</a> </li>
                            <li><a class="dropdown-item">The Trust</a> </li>
                        </ul>
                    </li>
                    <!-- <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Glory of CES</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/glory/old" routerLinkActive="active">Old
                                    Gallery</a> </li>
                        </ul>
                    </li> -->

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Gallery/Media</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item">Old Photos</a> </li>
                            <li><a class="dropdown-item">Photos</a> </li>
                            <li><a class="dropdown-item">Documentary Film</a> </li>
                            <li><a class="dropdown-item">Our Magazine Balmitra</a> </li>
                        </ul>
                    </li>

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Infrastructure</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Our Campus</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Laboratory</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Seminar Hall</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Computer Lab</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Library</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Hostel</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Canteen</a> </li>
                        </ul>

                    </li>

                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Course</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Science</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Paramedical</a> </li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/basic/alumni" routerLinkActive="active">Contact Us</a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">More</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Department</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Results</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Committee</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Student Corner</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Form</a> </li>
                            <li><a class="dropdown-item" routerLink="" routerLinkActive="active">Annual Reports</a>
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
        <!-- MOBILEMENU -->

        <div class="menu-area menu-sticky">
            <!-- main-menu -->
            <div class="container" style="max-width:1750px;">
                <div class="row y-middle" style="background-color: #203154 ; height: 50px;">
                    <div class="col-lg-12 text-end">
                        <div class="rs-menu-area">
                            <div class="main-menu">

                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <!-- <li class="rs-mega-menu mega-rs menu-item-has-children current-menu-item"> <a
                                                href="index.html">Home</a> -->

                                        <!-- <ul class="mega-menu"> 
                                            <li class="mega-menu-container">
                                                <div class="mega-menu-innner">
                                                    <div class="single-megamenu">
                                                        <ul class="sub-menu">
                                                            <li><a href="index.html">Main Demo</a> </li>
                                                            <li class="active"><a href="index2.html">Online Course</a> </li>
                                                            <li><a href="index3.html">University 01</a> </li>
                                                            <li><a href="index4.html">E-Learning</a> </li>
                                                            <li><a href="index5.html">Distance Learning</a> </li>
                                                        </ul>
                                                    </div>
                                                    <div class="single-megamenu">
                                                        <ul class="sub-menu last-sub-menu">
                                                            <li><a href="index6.html">Personal Demo</a> </li>
                                                            <li><a href="index7.html">Online Training</a> </li>
                                                            <li><a href="index8.html">Online Learning</a> </li>
                                                            <li><a href="index9.html">Kitchen Coach</a> </li>
                                                            <li><a href="index10.html">University 02</a> </li>
                                                        </ul>
                                                    </div>  
                                                    <div class="single-megamenu">
                                                        <ul class="sub-menu last-sub-menu">
                                                            <li><a href="index11.html">Kindergarten 01</a> </li>
                                                            <li><a href="index12.html">Freelancing Course</a> </li>
                                                            <li><a href="index13.html">Gym Coach</a> </li>
                                                            <li><a href="index14.html">Courses Archive</a> </li>
                                                            <li><a href="index15.html">Courses Hub</a> </li>
                                                        </ul>
                                                    </div> 
                                                </div>
                                            </li>
                                        </ul> -->
                                        <!-- //.mega-menu -->
                                        <!-- </li> -->
                                        <li class="menu-item-has-children">
                                            <a routerLink="/landing/main" routerLinkActive="active">Home</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="" routerLinkActive="active">CES Home</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a routerLink="" routerLinkActive="active">About Us</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="" routerLinkActive="active">History</a>
                                                </li>
                                                <li><a routerLink="" routerLinkActive="active">The Trust</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- <li class="menu-item-has-children">
                                            <a href="#">Glory of CES</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/glory/old" routerLinkActive="active">Old Gallery</a>
                                                </li>
                                            </ul>
                                        </li> -->

                                        <li class="menu-item-has-children">
                                            <a href="#">Gallery/Media</a>
                                            <!-- <ul class="sub-menu">
                                             <li class="menu-item-has-children right">
                                                 <a href="#">Team</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="team.html">Team One</a></li>
                                                     <li><a href="team2.html">Team Two</a></li>
                                                     <li><a href="team-single.html">Team Single</a></li>
                                                 </ul>
                                             </li>
                                             <li class="menu-item-has-children">
                                                 <a href="#">Event</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="events-style1.html">Event One</a></li>
                                                     <li><a href="events-style2.html">Event Two</a></li>
                                                     <li><a href="events-style3.html">Event Three</a></li>
                                                 </ul>
                                             </li>
                                             <li class="menu-item-has-children">
                                                 <a href="#">Gallery</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="gallery-style1.html">Gallery One</a></li>
                                                     <li><a href="gallery-style2.html">Gallery Two</a></li>
                                                     <li><a href="gallery-style3.html">Gallery Three</a></li>
                                                 </ul>
                                             </li>
                                             <li class="menu-item-has-children">
                                                 <a href="#">Shop</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="shop.html">Shop</a></li>
                                                     <li><a href="shop-single.html">Shop Single</a></li>
                                                     <li><a href="cart.html">Cart</a></li>
                                                     <li><a href="checkout.html">Checkout</a></li>
                                                 </ul>
                                             </li>
                                             <li class="menu-item-has-children">
                                                 <a href="#">Others</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="faq.html">FAQ</a></li>
                                                     <li><a href="error.html">404 Page</a></li>
                                                     <li><a href="login.html">Login</a></li>
                                                     <li><a href="register.html">Register</a></li>
                                                 </ul>
                                             </li>
                                         </ul> -->
                                            <ul class="sub-menu">
                                                <li><a href="#">Old Photos</a> </li>
                                                <li><a href="#">Photos</a> </li>
                                                <li><a href="#">Documentary Film</a> </li>
                                                <li><a href="#">Our Magazine Balmitra</a> </li>
                                            </ul>
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="#">Infrastructure</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="" routerLinkActive="active">Our Campus</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Laboratory</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Seminar
                                                        Hall</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Computer
                                                        Lab</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Library</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Hostel</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Canteen</a> </li>
                                            </ul>
                                            <!-- <ul class="sub-menu">
                                             <li><a href="blog.html">Blog</a></li>
                                             <li class="menu-item-has-children">
                                                 <a href="#">Blog Sidebar</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="blog-left.html">Blog Left Sidebar</a></li>
                                                     <li><a href="blog-right.html">Blog Right Sidebar</a></li>
                                                 </ul>
                                             </li>
                                             <li class="menu-item-has-children">
                                                 <a href="#">Single Post</a>
                                                 <ul class="sub-menu right">
                                                     <li><a href="blog-post-left.html">Post Left Sidebar</a></li>
                                                     <li><a href="blog-post-right.html">Post Right Sidebar</a></li>
                                                     <li><a href="blog-single.html">Full Width Post</a></li>
                                                 </ul>
                                             </li>
                                         </ul> -->
                                        </li>

                                        <li class="menu-item-has-children">
                                            <a href="">Course</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="" routerLinkActive="active">Science</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Paramedical</a> </li>
                                            </ul>
                                        </li>
                                        <li class="">
                                            <a routerLink="" routerLinkActive="active">Contact Us</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a routerLink="" routerLinkActive="active">More</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="" routerLinkActive="active">Department</a> </li>
                                                <li><a routerLink="" routerLinkActive="active">Results</a> </li>
                                                <li>
                                                    <a routerLink="/academic/student"
                                                        routerLinkActive="active">Committee</a>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Student Corner</a>
                                                </li>
                                                <li class="">
                                                    <a><span>Form</span></a>
                                                </li>
                                                <li class="">
                                                    <a><span>Annual Reports</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-menu -->
            <!-- stickymenu -->
            <div style="max-width:100%;">
                <div class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
                    <!-- <img src="assets/images/CES_logo.png" alt=""> -->
                    <div class="row" style="background-color: #203154 ; height: 50px;">
                        <div class="col-lg-2 text-end mt-10">
                            <img src="assets/images/ces.png" alt="" width="35%">
                        </div>
                        <div class="col-lg-10 text-start" style="margin-top: 5px;">
                            <div class="rs-menu-area jc">
                                <div class="main-menu">
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">

                                            <li class="menu-item-has-children">
                                                <a routerLink="/landing/main" routerLinkActive="active">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="" routerLinkActive="active">CES Home</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a routerLink="" routerLinkActive="active">About Us</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="" routerLinkActive="active">History</a>
                                                    </li>
                                                    <li><a routerLink="" routerLinkActive="active">The Trust</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#">Gallery/Media</a>

                                                <ul class="sub-menu">
                                                    <li><a href="#">Old Photos</a> </li>
                                                    <li><a href="#">Photos</a> </li>
                                                    <li><a href="#">Documentary Film</a> </li>
                                                    <li><a href="#">Our Magazine Balmitra</a> </li>
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="#">Infrastructure</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="" routerLinkActive="active">Our Campus</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Laboratory</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Seminar
                                                            Hall</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Computer
                                                            Lab</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Library</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Hostel</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Canteen</a> </li>
                                                </ul>

                                            </li>

                                            <li class="menu-item-has-children">
                                                <a href="">Course</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="" routerLinkActive="active">Science</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Paramedical</a> </li>
                                                </ul>
                                            </li>
                                            <li class="">
                                                <a routerLink="" routerLinkActive="active">Contact Us</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a routerLink="" routerLinkActive="active">More</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="" routerLinkActive="active">Department</a> </li>
                                                    <li><a routerLink="" routerLinkActive="active">Results</a> </li>
                                                    <li>
                                                        <a routerLink="/academic/student"
                                                            routerLinkActive="active">Committee</a>
                                                    </li>
                                                    <li class="menu-item-has-children">
                                                        <a href="#">Student Corner</a>
                                                    </li>
                                                    <li class="">
                                                        <a><span>Form</span></a>
                                                    </li>
                                                    <li class="">
                                                        <a><span>Annual Reports</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- stickymenu -->
        </div>


    </header>

</div>