<section class="focus-sector pt-5 pb-5">
    <div class="container">

        <!-- <div class="small-border" style="background:white;margin:0"></div> -->
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <div class="title text-center">
                    <h2>Available Courses</h2>

                </div>
            </div>
        </div>
        <div class="home-community-board__grid-wrapper">

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=DI" target="_blank"
                            class="btn-link">&nbsp;DIPLOMA IN ENGINEERING</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=DP" target="_blank"
                            class="btn-link">DIPLOMA IN PHARMACY</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=BE" target="_blank"
                            class="btn-link">BACHELOR OF ENGINEERING</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description">
                        <a href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=ME" target="_blank"
                            class="btn-link">&nbsp;&nbsp;MASTER OF ENGINEERING</a>
                    </p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MB" target="_blank"
                            class="btn-link">&nbsp;&nbsp;MASTER OF BUSINESS ADMINISTRATION</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MC" target="_blank"
                            class="btn-link">&nbsp;MASTER OF COMPUTER APPLICATIONS</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=IC" target="_blank" class="btn-link">MASTER
                            OF COMPUTER APPLICATIONS (INTEGRATED)</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=BA" target="_blank"
                            class="btn-link">&nbsp;BACHELOR OF ARCHITECTURE</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MR" target="_blank"
                            class="btn-link">&nbsp;MASTER OF ARCHITECTURE</a></p>
                </div>
            </div>



            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=BH" target="_blank"
                            class="btn-link">&nbsp;&nbsp;BACHELOR OF HOTEL MANAGEMENT AND CATERING TECHNOLOGY</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=BP" target="_blank"
                            class="btn-link">BACHELOR OF PHARMACY</a></p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MP" target="_blank" class="btn-link">MASTER
                            OF PHARMACY</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=FD" target="_blank"
                            class="btn-link">PHARM.D.</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=BL" target="_blank"
                            class="btn-link">&nbsp;&nbsp;BACHELOR OF PLANNING</a></p>
                </div>
            </div>


            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=DV" target="_blank"
                            class="btn-link">&nbsp;&nbsp;&nbsp;DIPLOMA IN VOCATION</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=BV" target="_blank"
                            class="btn-link">&nbsp;&nbsp;&nbsp;BACHELOR OF VOCATION</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MA" target="_blank" class="btn-link">MASTER
                            OF BUSINESS ADMINISTRATION (INTEGRATED / APPLIED MANAGEMENT)</a></p>
                </div>
            </div>

            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MV" target="_blank" class="btn-link">MASTER
                            OF BUSINESS ADMINISTRATION (PART TIME)</a></p>
                </div>
            </div>





            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=MP" target="_blank" class="btn-link">PG
                            DIPLOMA</a></p>
                </div>
            </div>




            <div class="home-community-board__grid-item" style="border-bottom: 1px solid #fff;">
                <div class="home-community-board__grid-icon-wrapper">
                    <img src="assets/images/courseshome/diploma.png" alt="">
                </div>
                <div class="home-community-board__grid-stat-wrapper">
                    <p class="home-community-board__grid-stat-description"><a
                            href="http://syllabus.gtu.ac.in/Syllabus.aspx?tp=PD" target="_blank" class="btn-link">POST
                            DIPLOMA DEGREE COURSE</a></p>
                </div>
            </div>
        </div>



    </div>

</section>
